# Cache
__pycache__/
*.py[cod]
*$py.class
*.spec
build/
dist/
.pytest_cache/
.vscode/
*.log
tmp/
.git/

# Build artifacts
/build
/dist
*.spec
Bookah_Installer.iss
/installer_assets
venv/
Bookah.flatpak
/flatpak_native

# Misc
/tests
SECURITY_AUDIT.md

# Docker
.dockerignore
Dockerfile

!.github/
